/**
 * This CSS Rule disable the text selection and is used by the native apps.
 */
.disable-text-selection {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-touch-callout:none; /* iOS */
}

/**
 * This rule is used by the native layer to remove the unsupported device message
 */
.native-hide-element {
  display: none;
}