<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Web App</title>
        <meta name="description" content="Web App" />
        <meta name="title" content="Web App" />

        <meta property="og:url"                content="" />
        <meta property="og:type"               content="application" />
        <meta property="og:title"              content="Web App" />
        <meta property="og:description"        content="Web App" />

        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">
        <style>
            #unsupported a {
                text-decoration: underline;
                color: #044389;
            }
        </style>
    </head>
    <body>
        <div id="root-webapp" ref="root_webapp"></div>

        <!-- Dependencies -->
        <% if (webpackConfig.mode == 'production') { %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.1/umd/react.production.min.js" integrity="sha256-3vo65ZXn5pfsCfGM5H55X+SmwJHBlyNHPwRmWAPgJnM=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.1/umd/react-dom.production.min.js" integrity="sha256-qVsF1ftL3vUq8RFOLwPnKimXOLo72xguDliIxeffHRc=" crossorigin="anonymous"></script>
        <% } else { %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.1/umd/react.development.js" integrity="sha256-9H05eCUa5x4G28dytYBwoAXkR3XgPE3sCogyXhrINwo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.1/umd/react-dom.development.js" integrity="sha256-I/ClrYyzlYEQkMUjqr7G3m/83znlycDCeI2xuBZsQx0=" crossorigin="anonymous"></script>
        <% } %>

        <% for(var i=0; i < htmlWebpackPlugin.files.js.length; i++) {%>
            <script type="text/javascript" src="<%= process.env.REACT_APP_CDN_URL %><%= htmlWebpackPlugin.files.js[i] %>"></script>
        <% } %>

        <noscript>Por favor activa el Javascript en tu navegador para usar esta sitio web. Please activate Javascript to use this website.</noscript>

        <div id="unsupported">

        </div>
        <script>
            /*!
            * copy from is.js : https://is.js.org/
            * Author: Aras Atasaygin
            */
            var navigator = window && window.navigator;
            var userAgent = (navigator && navigator.userAgent || '').toLowerCase();
            var vendor = (navigator && navigator.vendor || '').toLowerCase();
            var comparator = {
            '<': function(a, b) { return a < b; },
            '<=': function(a, b) { return a <= b; },
            '>': function(a, b) { return a > b; },
            '>=': function(a, b) { return a >= b; }
            };
            function compareVersion(version, range) {
            var string = (range + '');
            var n = +(string.match(/\d+/) || NaN);
            var op = string.match(/^[<>]=?|/)[0];
            return comparator[op] ? comparator[op](version, n) : (version == n || n !== n);
            }
            function opera(range) {
            var match = userAgent.match(/(?:^opera.+?version|opr)\/(\d+)/);
            return match !== null && compareVersion(match[1], range);
            };
            function chrome(range) {
            var match = /google inc/.test(vendor) ? userAgent.match(/(?:chrome|crios)\/(\d+)/) : null;
            return match !== null && !opera() && compareVersion(match[1], range);
            };
            function edge(range) {
            var match = userAgent.match(/edge\/(\d+)/);
            return match !== null && compareVersion(match[1], range);
            };
            function firefox(range) {
            var match = userAgent.match(/(?:firefox|fxios)\/(\d+)/);
            return match !== null && compareVersion(match[1], range);
            };
            function ie(range) {
            var match = userAgent.match(/(?:msie |trident.+?; rv:)(\d+)/);
            return match !== null && compareVersion(match[1], range);
            };
            function safari(range) {
            var match = userAgent.match(/version\/(\d+).+?safari/);
            return match !== null && compareVersion(match[1], range);
            };

            // redirect to un-support page if browser is not in our support range
            var uDiv = document.getElementById('unsupported');
            if (chrome('<49')) {
              uDiv.innerHTML = 'No podemos mostrar el sitio en tu navegador, por favor <a href="https://support.google.com/chrome/answer/95414?co=GENIE.Platform%3DDesktop" target="_blank" rel="noopener">Actualiza Chrome</a> o <a href="https://www.google.com/intl/es/chrome/" target="_blank" rel="noopener">Descarga Google Chrome</a>.';
            } else if (firefox('<50')) {
                uDiv.innerHTML = 'No podemos mostrar el sitio en tu navegador, por favor <a href="https://support.mozilla.org/es-ES/kb/update-firefox-latest-version" target="_blank" rel="noopener">Actualiza Firefox</a> o <a href="https://www.google.com/intl/es/chrome/" target="_blank" rel="noopener">Descarga Google Chrome</a>.';
            } else if (safari('<10')) {
                uDiv.innerHTML = 'No podemos mostrar el sitio en tu navegador, por favor <a href="https://support.apple.com/en-us/HT204416" target="_blank" rel="noopener">Actualiza Safari</a> o <a href="https://www.google.com/intl/es/chrome/" target="_blank" rel="noopener">Descarga Google Chrome</a>.';
            } else if (ie('<12')) {
                uDiv.innerHTML = 'No podemos mostrar el sitio en tu navegador, por favor <a href="https://www.google.com/intl/es/chrome/" target="_blank" rel="noopener">Descarga Google Chrome</a>.';
            } else if (edge('<80')) {
                uDiv.innerHTML = 'No podemos mostrar el sitio en tu navegador, por favor <a href="https://www.microsoft.com/en-us/edge" target="_blank" rel="noopener">Actualiza Edge</a> o <a href="https://www.google.com/intl/es/chrome/" target="_blank" rel="noopener">Descarga Google Chrome</a>.';
            }   else if (opera('<47')) {
                uDiv.innerHTML = 'No podemos mostrar el sitio en tu navegador, por favor <a href="https://www.google.com/intl/es/chrome/" target="_blank" rel="noopener">Descarga Google Chrome</a>.';
            } else {
                console.log("Full browser support!");
            }
        </script>


    </body>
</html>
